@import url(https://fonts.googleapis.com/css2?family=Halyard+Display:wght@300;400;500;700&display=swap);

:root {
    --primary: #0081ff;
    --dark: #0000;
    --secondary: #131343;
    --text-dark: #414042;
    --gradient-primary: linear-gradient(90deg, #0081ff 0, rgba(19, 19, 67, 0.58) 45.5%, #0081ff 98.8%);
    --gradient-blue: linear-gradient(146.78deg, #0081ff 6.36%, #0272e6 9.12%, #065cc0 14.65%, #09489e 21.11%, #0c3781 27.56%, #0e2a6a 34.94%, #101f58 43.66%, #12184c 53.38%, #121445 67.21%, #131343 98.56%)
}

::-webkit-scrollbar {
    width: 3px;
    border-radius: 10px
}

::-webkit-scrollbar-track {
    background: #fff
}

::-webkit-scrollbar-thumb {
    background: var(--gradient-blue)
}

::-webkit-scrollbar-thumb:hover {
    background: var(--gradient-blue)
}

html {
    scroll-behavior: smooth
}

body {
    font-family: "Halyard Display", sans-serif;
    color: var(--text-dark)
}

.gradient-primary {
    background: var(--gradient-primary)
}

.gradient-blue {
    background: var(--gradient-blue)
}

.navbar {
    top: 1.8rem;
    padding: 1rem 3rem;
    max-width: 1580px;
    margin: 0 auto;
    box-shadow: 0 4px 6px rgb(0 0 0 / .1);
    background: linear-gradient(90deg, #0081ff 0, rgb(19 19 67 / .58) 45.5%, #0081ff 98.8%);
    /* background: linear-gradient(156.39deg, #2EA1FD -8.77%, #fff0 53.46%, #2EA1FD 108.38%); */
}

.nav-item {
    padding-right: 2.4rem
}

.logo img {
    height: 50px;
    width: auto;
    max-width: 150px
}

.logo-text {
    font-size: 1.5rem
}

.logo-top span {
    margin-right: .2rem
}

.logo-bottom {
    font-size: .8rem;
    margin-top: -.5rem
}

.btn-outline-light {
    color: #fff;
    border-radius: inherit
}

.hero {
    height: 80vh;
    background: url(img/banner_img.jpeg) center center/cover no-repeat;
    display: flex;
    align-items: center;
    position: relative
}

.hero_h1 {
    padding-top: 6.6em;
    font-weight: 400;
    font-size: 52px;
    line-height: 52px;
    letter-spacing: 0%
}

.hero_h4 {
    font-weight: 300;
    font-size: 18px;
    line-height: 18px;
    letter-spacing: 0%
}

.hero_h2 {
    font-weight: 400;
    font-size: 26px;
    line-height: 24px;
    letter-spacing: 0%
}

.hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* background: rgb(0 0 0 / .5); */
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 120%);
    transform: rotate(-180deg);
    z-index: 1;
}

.hero_head {
    font-size: 2.8em;
    position: relative
}

.hero_conatiner {
    z-index: 2
}

.banner-form {
    max-width: 380px;
    position: relative;
    height: 100%
}

.form-card {
    background: linear-gradient(156.39deg, #2EA1FD -8.77%, #fff0 53.46%, #2EA1FD 108.38%);
    padding: 2rem;
    box-shadow: 0 4px 6px rgb(0 0 0 / .1);
    text-align: left;
    margin-top: 4rem
}

.form-control {
    background: #fff0;
    border-radius: inherit;
    border: .69px solid rgb(0 129 255)
}

@media(max-width:992px) {
    .navbar {
        top: 0;
        padding: 1rem;
        background: linear-gradient(90deg, #0081ff 0, rgb(19 19 67 / .58) 45.5%, #0081ff 98.8%)
    }

    .hero {
        height: auto;
        min-height: 70vh;
    }

    .hero_head {
        font-size: 2rem;
        top: 6em;
        text-align: left
    }

    .hero_h1 {
        font-size: 2rem;
        margin-bottom: 2rem
    }

    .banner-form {
        margin: 0 auto;
        transform: translateY(25%)
    }

    .form-card {
        margin-top: 0;
        padding: 2rem;
        background: linear-gradient(156.39deg, #2EA1FD -8.77%, rgb(218 240 255 / .95) 53.46%, #2EA1FD 108.38%)
    }
}

@media(max-width:768px) {
    .logo-text {
        font-size: 1.2rem
    }

    .hero {
        height: auto;
        min-height: 70vh
    }

    .hero_head {
        font-size: 2rem;
        top: 6em;
        text-align: left
    }

    .logo-bottom {
        font-size: .7rem
    }

    .form-card {
        padding: 2rem
    }

    .banner-form {
        transform: translateY(20%);
        text-align: left;
        justify-content: left
    }
}

@media(max-width:576px) {
    .navbar {
        padding: .5rem
    }

    .hero {
        height: auto;
        min-height: 70vh
    }

    .hero_head {
        font-size: 2rem;
        top: 6em;
        text-align: left
    }

    .logo-text {
        font-size: 1rem
    }

    .logo-bottom {
        font-size: .6rem
    }

    .hero_h1 {
        font-weight: 400;
        font-size: 36px;
        line-height: 36px;
        letter-spacing: 0%;
        text-align: left;
        padding-top: 2rem;
        padding-left: .7em
    }

    .banner-form {
        transform: translateY(15%);
        width: 90%
    }

    .form-card {
        padding: 2rem
    }

    .logo img {
        height: 45px
    }
}

/* Content Section */

.desktop-cont {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 13px
}

.content_mobile {
    display: flex;
    flex-wrap: wrap
}

.content-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 15px
}

.content-image {
    display: flex;
    align-items: stretch;
    position: relative
}

.content_img {
    object-fit: cover;
    width: 100%;
    height: 100%
}

.content_head {
    margin-bottom: 1.5rem;
    color: var(--primary);
    font-weight: 400;
    font-size: 52px;
    line-height: 52px;
    letter-spacing: 0%;
    text-align: left
}

.content-text p {
    color: var(--text-dark);
    margin-bottom: 2rem;
    font-weight: 300;
    font-size: 24px;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left
}

.desktop-only {
    display: block;
    width: 100%;
    height: 600px
}

.mobile-only {
    display: none
}

@media (max-width:992px) {
    .content-section {
        padding: .5em 1em;
    }

    .desktop-only {
        display: none
    }

    .mobile-only {
        display: block;
        height: auto;
        max-height: 50vh;
        min-height: 200px
    }

    .content_head {
        font-size: 28px;
        font-weight: 400;
        line-height: 36px;
        letter-spacing: 0%;
        margin-top: 1.5rem
    }

    .content-text p {
        font-weight: 300;
        font-size: 22px;
        line-height: 22px;
        letter-spacing: 0%
    }

    .content-mobile {
        flex-direction: column
    }

    .content-text {
        order: 2;
        text-align: center;
        margin-top: 15em;
    }

    .content-image {
        order: 1
    }
}

@media (max-width:768px) {
    .content_head {
        font-size: 28px;
        font-weight: 400;
        line-height: 36px;
        letter-spacing: 0%
    }

    .content-text p {
        font-weight: 300;
        font-size: 22px;
        line-height: 22px;
        letter-spacing: 0%
    }

    .desktop-only {
        display: none
    }

    .mobile-only {
        display: block;
        margin-bottom: 2rem;
        height: auto;
        max-height: 50vh
    }
}

@media (max-width:576px) {
    /* .content-section {
        padding-top: 30vh
    } */

    .content_head {
        font-size: 28px;
        font-weight: 400;
        line-height: 36px
    }

    .content-text p {
        font-weight: 300;
        font-size: 22px;
        line-height: 22px
    }

    .desktop-only {
        display: none
    }

    .mobile-only {
        display: block;
        height: auto;
        max-height: 50vh
    }
}

.features {
    background: rgb(218 240 255)
}

.features {
    background: rgb(218 240 255);
    padding: 4rem 0
}

.features_head {
    text-align: left;
    font-weight: 400;
    font-size: 52px;
    line-height: 52px;
    letter-spacing: 0%
}

.feature_h3 {
    margin-top: 1.9rem;
    font-weight: 400;
    font-size: 30px;
    line-height: 30px;
    letter-spacing: 0%
}

.feature-card {
    border: 0;
    border-radius: 12px;
    padding: 0;
    height: 100%;
    background: linear-gradient(156.39deg, #2ea1fd -8.77%, #fff0 53.46%, #2ea1fd 108.38%);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    text-align: left;
    min-height: 100%;
    transition: transform .3s ease, box-shadow .3s ease
}

/* .feature-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 20px rgb(0 0 0 / .2)
} */

.feature-icon {
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 1.5rem 0
}

.feature-icon img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain
}

.card-body {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1.5rem;
    text-align: left
}

.card-body p,
.card-body ul {
    font-size: 16px;
    color: #555;
    margin-top: 1rem
}

.card-body ul {
    list-style-type: none;
    padding-left: 0
}

.card-body ul li {
    margin-bottom: .5rem
}

.scrollable-row {
    scrollbar-width: thin;
    scrollbar-color: #2ea1fd rgb(218 240 255);
    scroll-behavior: smooth
}

.scrollable-row::-webkit-scrollbar {
    height: 6px
}

.scrollable-row::-webkit-scrollbar-thumb {
    background: #2ea1fd;
    border-radius: 4px;
    transition: background .3s ease
}

.scrollable-row::-webkit-scrollbar-thumb:hover {
    background: #1c7ebd
}

.scrollable-row::-webkit-scrollbar-track {
    background: rgb(218 240 255)
}

@media(max-width:768px) {
    .features {
        padding: .5em 1em;
    }

    .row.flex-nowrap {
        flex-wrap: nowrap;
        overflow-x: auto;
        padding-bottom: 1rem
    }

    @media(max-width:768px) {
        .features {
            padding: .5em 1.7em;
        }

        .row.flex-nowrap {
            flex-wrap: nowrap;
            overflow-x: auto;
            padding-bottom: 1rem;
        }

        .col-12.col-sm-6.col-xl-3 {
            flex: 0 0 90%;
            /* Increase the width here */
            max-width: 90%;
            /* Adjust max-width to match the increased width */
            margin-right: 1.5rem;
            scroll-snap-align: start;
        }

        .scrollable-row {
            scroll-snap-type: x mandatory;
        }
    }

    .scrollable-row {
        scroll-snap-type: x mandatory
    }

}

@media(max-width:576px) {
    .features_head {
        font-weight: 400;
        font-size: 36px;
        line-height: 36px;
        letter-spacing: 0%
    }

    .feature-card {
        padding: 0
    }

    .feature-icon {
        width: 90px;
        height: 90px
    }

    .feature_h3 {
        font-size: 20px
    }

    .card-body p,
    .card-body ul {
        font-size: 14px
    }
}

.video-container {
    position: relative;
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
    box-shadow: 0 4px 8px rgb(0 0 0 / .1)
}

.video-container img,
.video-container video {
    width: 100%;
    height: auto;
    aspect-ratio: 16 / 9;
    display: block;
    object-fit: cover
}

@media (max-width:768px) {
    .why-awnext {
        padding: 3rem 0
    }
}

@media (max-width:576px) {
    .why-awnext {
        padding: 2rem 0
    }
}

/* .stats {
    padding: 4rem 0
} */

.stats_head {
    margin-bottom: 1rem;
    font-weight: 400;
    font-size: 52px;
    line-height: 52px;
    letter-spacing: 0%;
    color: var(--primary)
}

.stats_p {
    font-weight: 300;
    font-size: 24px;
    line-height: 24px;
    letter-spacing: 0%
}

.lead {
    font-size: 1.25rem;
    color: #555
}

.stat-box {
    text-align: left;
    justify-items: left
}

.stat-item {
    padding: 1rem;
    border-radius: 10px;
    text-align: center
}

.stat-number {
    border-right: 3px solid #000;
    margin-bottom: .5rem;
    font-weight: 400;
    font-size: 88px;
    line-height: 88px;
    letter-spacing: 0%
}

.stats_h5 {
    font-weight: 400;
    font-size: 24px;
    line-height: 24px;
    letter-spacing: 0%
}

.stat-line {
    width: 50px;
    height: 2px;
    margin: 0 auto 1rem
}

@media(max-width:992px) {
    .stats {
        padding: .5em 1em;
    }

    .stat-number {
        font-size: 50px;
    }

    .custom-col {
        width: 48%
    }
}

@media(max-width:576px) {
    .stats {
        padding: .3em 1em;
    }

    .stats_h5 {
        font-weight: 400;
        font-size: 18px;
        line-height: 16px;
        letter-spacing: 0%
    }

    .stat-row {
        display: flex;
        flex-wrap: wrap;
        justify-content: center
    }

    .stat-number {
        border-right: 3px solid #000;
        margin-bottom: .5rem;
        font-weight: 400;
        font-size: 88px;
        line-height: 88px;
        letter-spacing: 0%
    }

    .stats_head {
        margin-bottom: 1rem;
        font-weight: 400;
        font-size: 36px;
        line-height: 36px;
        letter-spacing: 0%
    }

    .stats_p {
        font-weight: 300;
        font-size: 22px;
        line-height: 22px;
        letter-spacing: 0%
    }

    .custom-col {
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: center
    }

    .stat-number {
        font-size: 2.5rem;
        border-right: 0;
        padding: 0
    }
}

.download {
    position: relative;
    width: 100%;
    background-image: url(img/download_sec.png);
    background-size: cover;
    background-position: center;
    min-height: 60vh;
    display: flex
}

.download::before {
    content: "";
    position: absolute;
    transform: rotate(-180deg);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, #fff0 0%, #000000 120%);
    z-index: 1
}

.download .container {
    position: relative;
    z-index: 2
}

.download-form {
    padding: 2rem;
    border-radius: 8px;
    width: 70%;
    max-width: 470px;
    box-shadow: 0 4px 6px rgb(0 0 0 / .1);
    text-align: left;
    margin-top: -5em
}

.download_text {
    font-size: 3rem;
    font-weight: 400;
    line-height: 1.5;
    text-align: left;
    color: #fff;
    margin-top: -4em
}

.button-container {
    display: flex;
    justify-content: flex-start;
    width: 100%
}

@media (max-width:992px) {
    .download {
        height: auto;
        padding: 4rem 0
    }

    .download_text {
        text-align: left;
        font-size: 2.5rem;
        padding-top: 4em;
        /* margin-bottom: 2rem; */
    }

    .download-form {
        padding: 1.5rem;
        max-width: 100%;
        top: 7em;
        /* left: -9em; */
    }
}

@media (max-width:768px) {
    .download {
        min-height: 50vh
    }

    .download_text {
        margin-top: -2em;
        font-weight: 400;
        font-size: 36px;
        line-height: 36px;
        letter-spacing: 0%;
    }

    .download-form {
        width: 80%;
        margin-top: -3em;
        /* right: 7em; */
        /* left: -6em; */
    }

    .btn-primary {
        width: 80%
    }
}

@media (max-width:576px) {
    .download_text {
        font-weight: 400;
        font-size: 36px;
        line-height: 36px;
        letter-spacing: 0%;
        margin-top: 0;
        text-align: left;
        padding-left: .7em
    }

    .download-form {
        width: 88%;
        padding: 1rem;
        /* left: -1.9em; */
    }
}

.contact {
    position: relative;
    padding: 6rem 0;
    background: var(--gradient-blue);
    color: #fff
}

.btn-outline-light {
    color: #fff
}

.btn-outline-light:hover {
    color: #fff;
    background: #fff0
}

.contact_head {
    margin-bottom: 1rem;
    color: #fff;
    font-weight: 400;
    font-size: 76px;
    line-height: 76px;
    letter-spacing: 0%
}

.contact_h4 {
    margin-bottom: 2rem;
    font-weight: 300;
    font-size: 24px;
    line-height: 24px;
    letter-spacing: 0%;
    color: rgb(227 227 227);
}

.btn-primary {
    background: linear-gradient(116.01deg, #0081ff -1.98%, #0272e6 .58%, #065cc0 5.72%, #09489e 11.7%, #0c3781 17.69%, #0e2a6a 24.53%, #101f58 32.23%, #12184c 41.64%, #121445 54.47%, #131343 83.55%);
    border: inherit;
    padding: .75rem 2rem;
    font-size: 1rem;
    font-weight: 600;
    color: #fff;
    width: 50%;
    max-width: 300px;
    border-radius: inherit
}

.call-btn {
    background: linear-gradient(94.11deg, #0080ff -3.32%, #add6ff 6.77%, #43a1ff 80.38%, #0080ff 104.52%);
    border: 0;
    padding: .75rem 2rem;
    font-size: 1.2rem;
    font-weight: 600;
    color: #fff;
    width: 100%;
    max-width: 270px;
    text-decoration: none;
    display: inline-block;
    text-align: center;
    border-radius: 8px
}

.call-btn:hover {
    background: linear-gradient(94.11deg, #06c -3.32%, #99c2ff 6.77%, #3385ff 80.38%, #06c 104.52%);
    color: #fff;
    text-decoration: none
}

hr {
    border-color: rgb(255 255 255 / .2);
    margin: 2rem auto
}

address {
    font-style: normal;
    margin-top: 2rem
}

address p {
    margin-bottom: 1rem;
    align-items: center;
    font-size: 1rem;
    line-height: 1.5
}

.email-address {
    gap: 10px;
    font-size: 1rem;
    color: #fff
}

.email-link {
    text-decoration: none;
    color: #fff;
    gap: 10px
}

.email-link i {
    font-size: 1.2rem;
    color: #fff
}

.email-link:hover {
    color: #fff
}

.phone-link {
    text-decoration: none;
    color: inherit;
    display: flex;
    align-items: center;
    gap: 10px
}

.fas {
    color: #fff
}

.map-container img {
    width: 100%;
    height: auto;
    border-radius: 8px
}

@media(max-width:992px) {
    .contact_head {
        font-size: 56px;
        line-height: 56px
    }

    .contact_h4 {
        font-size: 1.25rem
    }

    .btn-primary {
        width: 60%
    }

    address {
        text-align: left
    }

    address p {
        justify-content: center
    }

    .map-container {
        margin-top: 2rem
    }
}

@media(max-width:576px) {
    .contact_head {
        font-size: 36px;
        line-height: 36px;
        padding-top: 3em;
    }

    .contact_h4 {
        font-size: 1rem
    }

    .btn-primary {
        width: 60%;
        padding: .5rem 1rem;
        font-size: .9rem
    }

    address p {
        font-size: .9rem
    }
}